<%- include('partials/head') %>

    <body class="text-center">
        <h1 class="text-white">Featured Projects</h1>
        <div class="my-3">
            <button class="btn btn-warning">Submit Proposal</button>
            <button class="btn btn-light ml-3">Info</button>
        </div>
    </body>

    </html>