<%- include('partials/head')%>

    <body>

        <div class="container mt-5">
            <div class="row">
                <div class="col-6">

                    <div class="main d-flex flex-column align-items-left justify-content-center">
                        <h1 class="emphasized mb-4">tatami<span class="yellow">Coin</span></h1>
                        <p class="subtext mb-4">your solution for all things cryptocurrency.</p>
                        <button class="explore btn btn-warning text-center">EXPLORE</button>
                    </div>

                </div>
                <div class="col-6">

                    <img src="/imgs/moon.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>


    </body>

    </html>