<%- include('partials/head')%>

    <body>

        <div class="container mt-5">
            <div class="row">
                <div class="col-6">

                    <div class="main d-flex flex-column align-items-left">
                        <h1 class="emphasized mb-4">tatami<span class="yellow">Coin</span></h1>
                        <p class="subtext mb-4">your solution for all things cryptocurrency.</p>
                        <button class="explore btn btn-warning text-center">EXPLORE</button>
                    </div>

                </div>
                <div class="col-6">

                    <img src="/imgs/moon.png" alt="" class="img-fluid mb-5">
                    <div class="coins d-flex flex-row justify-content-between">
                        <div class="btc d-flex align-items-center mt-4">
                            <img src="/imgs/bitcoin.png" alt="" class="mr-2 text-center">
                            <div class="d-flex flex-column">
                                <div>BTC</div><span class="btcPrice"></span>
                            </div>
                        </div>
                        <div class="ethereum d-flex align-items-center mt-4">
                            <img src="/imgs/ethereum.png" alt="" class="mr-2 text-center">
                            <div class="d-flex flex-column">
                                <div>ETH</div><span class="ethPrice"></span>
                            </div>
                        </div>
                        <div class="solana d-flex align-items-center mt-4">
                            <img src="/imgs/solana.png" alt="" class="mr-2 text-center">
                            <div class="d-flex flex-column">
                                <div>SOL</div><span class="solPrice"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <script src="/js/app.js"></script>
    </body>

    </html>