<%- include('./partials/head') %>
    <div class="row">
        <div class="col-6 offset-3">
            <form action="/accelerator" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="name">Project Name</label>
                    <input class="form-control" type="text" id="name" name="name" required>
                    <div class="valid-feedback">✔</div>
                    <div class="invalid-feedback">Field is empty</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image (URL)</label>
                    <input class="form-control" type="text" id="image" name="image" required>
                    <div class="valid-feedback">✔</div>
                    <div class="invalid-feedback">Field is empty</div>
                </div>

                <div class="mb-3">
                    <label for="funding" class="form-label">Requested Funding</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input name="funding" id="funding" type="text" class="form-control" placeholder="0.00"
                            aria-label="requested funding" aria-describedby="requested funding" required>
                        <div class="valid-feedback">✔</div>
                        <div class="invalid-feedback">Field is empty</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" type="text" id="description" name="description" required></textarea>
                    <div class="valid-feedback">✔</div>
                    <div class="invalid-feedback">Field is empty</div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-warning">Submit Proposal</button>
                </div>

            </form>
            <a href="/accelerator">Featured Projects</a>
        </div>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validated-form')
            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>