/* 000814
001d3d
003566
ffc300
ffd60a */

body {
    background-color: #000814;
}

* {
    font-family: 'Montserrat', 'sans-serif';
}

nav {

    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

nav a {
    color: white;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: #ffd60a;
}

* {
    color: white;
}

.yellow {
    color: #ffc300;
}

.emphasized {
    font-weight: bold;
    font-size: 5rem;
}

.main {
    height: 100%;
    position: relative;
    top: 20%;
}

.explore {
    width: 30%;
    text-align: center;
}

.btc,
.ethereum,
.solana {
    height: 4rem;
    width: 10rem;
    border-radius: 10px;
    border: 0.5px solid #ffc300;
}